file_upload_message.json
[
    {
        "id": "5f648413.544f5c",
        "type": "jsf",
        "z": "4398ed35.bab4e4",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "lang": "az",
        "x": 690,
        "y": 300,
        "wires": [
            [
                "1ebcba03.8a8f86"
            ]
        ]
    },
    {
        "id": "be1736c3.cbf508",
        "type": "inject",
        "z": "4398ed35.bab4e4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"type\":\"object\",\"properties\":{\"id\":{\"type\":\"string\",\"chance\":\"guid\"},\"filerefs\":{\"type\":\"array\",\"minItems\":1,\"maxItems\":3,\"items\":{\"chance\":\"guid\"}}},\"required\":[\"id\",\"filerefs\"]}",
        "payloadType": "json",
        "x": 450,
        "y": 300,
        "wires": [
            [
                "5f648413.544f5c"
            ]
        ]
    },
    {
        "id": "ff13c92a.c480f8",
        "type": "Kafka Producer",
        "z": "4398ed35.bab4e4",
        "name": "",
        "broker": "52350528.b636dc",
        "topic": "file",
        "topicSlash2dot": false,
        "requireAcks": 1,
        "ackTimeoutMs": 100,
        "partitionerType": 0,
        "key": "",
        "partition": 0,
        "attributes": 0,
        "connectionType": "Producer",
        "convertFromJson": false,
        "x": 1260,
        "y": 300,
        "wires": []
    },
    {
        "id": "1ebcba03.8a8f86",
        "type": "change",
        "z": "4398ed35.bab4e4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "key",
                "pt": "msg",
                "to": "msg.payload.id",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 300,
        "wires": [
            [
                "6663cf69.17891"
            ]
        ]
    },
    {
        "id": "6663cf69.17891",
        "type": "json",
        "z": "4398ed35.bab4e4",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1060,
        "y": 300,
        "wires": [
            [
                "ff13c92a.c480f8"
            ]
        ]
    },
    {
        "id": "52350528.b636dc",
        "type": "Kafka Broker",
        "name": "localhost",
        "hosts": [
            {
                "host": "kafka",
                "port": 9092
            }
        ],
        "hostsEnvVar": "",
        "connectTimeout": "10000",
        "requestTimeout": "30000",
        "autoConnect": "true",
        "idleConnection": "5",
        "reconnectOnIdle": "true",
        "maxAsyncRequests": "10",
        "checkInterval": "10",
        "selfSign": true,
        "usetls": false,
        "useCredentials": false
    }
]